body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-weight: 300;
  font-size: 15px;
  background-color: $site-background-color;
  font-family: $font-family-monospace;
  margin: 0;
  padding: 0;
}

body#threetorah {
  display: flex;
  flex-direction: column;
  .container {
    flex: 1;
    width: 70%;
    padding: 1rem 1rem;
    max-width: 1140px;
    .skew {
      position: relative;
    }
    .skew:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: skewY(-5deg);
      transform-origin: top left;
      z-index: -1;
      background-color: #f8f9fa;
    }
  }
}

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
header > .logo {
  display: block;
  a > img { width: 100%;  height: 100%; }
}

header > nav {
  display: flex;
  align-items: center;
}
header > nav > ul {
  padding: 0;
  margin-right: 1rem;
}
header > nav > ul > li:first-child { margin-left: 0;}
header > nav > ul > li { display: inline-block; margin-left: 20px; font-family: $font-family-serif}
header > nav > ul > li > a {
  display: block;
  padding: 10px 0;
  position: relative;
  transition: color .35s ease;
  font-weight: 600;
  font-size: 18px;
}
header > nav > ul > li > a {
  display: inline-block;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform .3s cubic-bezier(.694,.048,.335,1);
}
header > nav > ul > li > a { fill: $riptide; transition: all .25s }

header > nav > ul > li > a:before {
  background-color: $riptide;
  transition: all .25s cubic-bezier(.694,.048,.335,1) .15s
}
header > nav > ul > li > a:after,
header > nav > ul > li > a:before {
  content: "";
  position: absolute;
  top: 25px;
  right: 0;
  left: auto;
  width: 0;
  height: 3px;
  z-index: 2
}

header > nav > ul > li > a:after {
  background-color: $pelorous;
  transition: all .25s cubic-bezier(.694,.048,.335,1)
}

header > nav > ul > li > a { color: $cerulean; text-decoration: none; margin: 0; padding: 0; transition: color .35s ease;}
header > nav > ul > li > a:hover { color: $blackcurrant; transform: translateX(0);}

@media only screen and (min-width: 64em) {
  header > nav > ul > li > a:hover:after,
  header > nav > ul > li > a:hover:before {
    width:100%;
    left: 0;
  }
}

footer {
  width: auto;
  height: 50px;
  margin: 0 auto;
  flex-shrink: 0;
  p { text-align: center  }
  ul,li { text-decoration: none; list-style-type: none; display: inline-block; margin: 0; padding: 0;}
  ul > li { margin-right: 1em;}
  ul > li:last-child { margin-right: 0;}
  ul > li > a > svg { width: 16px;height: 16px; }
  ul > li > a > svg > path { fill: $paleprim; }
    ul > li > a:hover > svg > path { fill: $chambray; transition: color .35s ease;}

}

.content {
  padding: 3rem 0;
  .col-lg-6 { padding: 0 18px}
    a.more {
      font-size: .875rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      display: inline-block;
      color: #fff;
      background-color: $chambray;
      border-color: $cerulean;
      box-shadow: 0 7px 16px 0 rgba(0, 0, 0, .2);
      padding: .875rem 1.5rem;
      border-radius: 10rem;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      text-decoration: none;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    a.more:hover {
      color: #fff;
      background-color: $cerulean;
      border-color: $chambray;
      box-shadow: none;
    }
  .card {
    border: #fff 5px solid;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 39px -10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 39px -10px rgba(0,0,0,0.6);
    box-shadow: 0px 5px 39px -10px rgba(0,0,0,0.6);
    .media {
      min-width: 0;
      margin: 5px;
      img {
        width: 450px;
        max-width: 100%;
        max-height: 450px;
      }
      figure {
        margin: 0;
        background-size: cover;
        background: url(../img/floresta.jpg) center;
        width: 100%;
        height: 320px; //whatever height you want

      }
    }

  }
  p.hello {
    color: $blackcurrant;
    font-family: $font-family-monospace;
    font-size: 1.25rem;
    padding: 0;
    margin: 0 0 3rem 0;
    strong { color: $chambray }
    small { color: $chambray; display: block; margin-top: 10px;}

  }

  p.hello {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  h1.heading {
    color: $chambray;
    padding: 0;
    margin: 0 0 1rem 0;
    font-weight: 500;
    font-size: 2rem;
    font-family: $font-family-serif;
    -webkit-animation: fade-in-bck 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bck 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
}




@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
