/*
 _Typography
 */

$font-size: 18px;
$font-family-serif: 'Merriweather', serif;
$font-family-monospace: 'Merriweather Sans', sans-serif;

$heading-family: $font-family-serif;
$heading-weight: 300;

/*
 _Colors
 */

$green: #23ab6c;
$palegreen: #73c151;
$cream: #f2f3d7;
$egg: #f2b746;
$orukum: #f14230;
$text: rgb(52, 58, 64);

$darkgreen: darken($green, 50);
$darkpalegreen: darken($palegreen, 50);
//#DEFAULTS
$site-text: $text;
$site-h1-hello: $green;

//Defaul images
$site-logo-svg: url('../img/threetorah.svg');
$site-logo-image: url('../img/threetorah.png');

