.row.content
  .col-lg-6
    .box
      .text
         h1.heading
          | Reposição florestal
         p.hello
          | A reposição florestal é a compensação do volume de matéria-prima extraído de vegetação natural pelo volume de matéria-prima...
  .col-lg-6
    .card
      img(src="../img/floresta" alt="Reposição Florestal")
