div.row.center-xs
  div.col-xs-6
    div.box
     p.hello
      | Hi 👋, my name is <strong>Tiago de A Fernandes</strong>, i'm a web developer from Brazil.
      | I have been playing with computer stuff since my early ages.
      | I like some weird things like mechanical keyboards and tattoos.
      | Currently i'm doing some Angular 2+ projects, and functional javascript.
      | <small>PS: This site is forever under construction</small>
