head
  meta(charset="UTF-8")
  meta(name="description" content="Tiago Fernandes personal website")
  meta(name="author" content="Tiago de Araujo Fernandes")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(type="text/plain" rel="author" href="humans.txt")
  link(rel="stylesheet", type="text/css", href="css/app.min.css")
