doctype html
html(lang="en")
  include head
  body#threetorah.home
    .container
      .loader
      .transition
      header
        include logo
        include nav
      include content
    include footer
  script(src='/js/app.min.js')

