doctype html
html(lang="en")
  include head
  body#tiagofernandes.home
    div.container
      div.box
        .loader
        .transition
        header
          div.name
            h1 TIAGO DE ARAUJO FERNANDES
          div.logo
            img(src="../img/logo0a.png" alt="Tiago de A. Fernandes" draggable="false")
          nav
            ul
              li
                a(href="#") WORK
              li
                a(href="#") LAB
              li
                a(href="#") ABOUT
      #canvas
    include footer
  //script(src='/js/vendor/three.js')
  //script(src='/js/vendor/EffectComposer.js')
  //script(src='/js/vendor/shaders/ShaderPass.js')
  //script(src='/js/vendor/shaders/RenderPass.js')
  //script(src='/js/vendor/shaders/CopyShader.js')
  //script(src='/js/vendor/shaders/SepiaShader.js')
  //script(src='/js/vendor/shaders/DigitalGlitch.js')
  //script(src='/js/vendor/shaders/GlitchPass.js')
  //script(src='/js/vendor/shaders/MaskPass.js')
  //script(type="text/javascript").

  script(src='/js/app.min.js')
  script(src='/js/vendor.min.js')
