p.lead.mb-6 Um modelo adaptado de reflorestamento existente.
small.text-success.mb-6 Valores randomicos :P
table#modelo.table.table-striped
  thead
    tr
      th(scope="col") #
      th(scope="col") ANO
      th(scope="col") ESTADO
      th(scope="col") ARVORES CORTADAS
      th(scope="col") VOLUME (1m3)
      th(scope="col") ARVORES REPOSTAS
      th(scope="col") VALOR A SER PAGO
  tbody
    tr#data
      th(scope="row") 1
      td.ano
      td.estado
      td.cortadas
      td.volume
      td.repostas
      td.pago
    tr.alert-danger
      th(scope="row") TOTAIS
      td
      td
      td.total-cortadas
      td.total-volume
      td.total-reposta
      td.valor-total
