nav.navbar.navbar-expand-lg.navbar-light.py-3
  .container
    include logo
    .collapse.navbar-collapse
      ul.navbar-nav.align-items-lg-center.text-uppercase.pt-3.pt-lg-0.ml-auto
        li.nav-item
          a(href="#") LEGISLAÇÃO
        li.nav-item
          a(href="#") TABELAS
        li.nav-item
          a(href="#") CONTATO
